:root {
  --color: #0dab76;
  --border-radius: .5rem;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-attachment: fixed;
  background-color: var(--color);
  background-position: center;
  background-size: cover;
  color: #ffffff;
  transition: 1s all ease-in-out;
  font-family: monospace;
}

.container {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  opacity: 1;
  transition: .2s opacity ease-in-out;
}

.container.hide {
  opacity: 0;
  transition: 1s 1s opacity ease-in-out;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s all ease-in-out;
  z-index: -1;
  opacity: .5;
}

.gallery-controls {
  position: fixed;
  bottom: 0;
  right: .5rem;
}

.gallery-control-btn {
  font-size: 2rem;
}

.tag {
  display: inline-block;
  background-color: #eeeeee;
  color: var(--color);
  border-radius: var(--border-radius);
  padding: .15rem .25rem;
  margin-bottom: .5rem;
  transition: .2s all ease-in-out;
}

.tag:hover {
  transform: scale(1.05);
  font-weight: bold;
}

h1 {
  font-size: 5rem;
  line-height: 4rem;
  margin: 0 1rem;
  color: var(--color);
  transition: 1s all ease-in-out;
  mix-blend-mode: multiply;
  text-shadow: 1px 1px #ffffff;
}

@media (max-width: 1900px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }

  .tag-cloud {
    display: none;
  }
}

ul {
  margin: 1rem;
  padding: 0;
}

ul li {
  display: inline;
}

li + li::before {
  content: " | ";
  font-size: 1.5rem;
}

a, button {
  background: 0;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: .25rem .35rem;
  text-decoration: none;
  transition: .2s all ease-in-out;
  border-radius: var(--border-radius);
}

a:hover, button:hover {
  background-color: var(--color);
  mix-blend-mode: multiply;
}