body {
  background-color: #0DAB76;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  transition: 1s background ease-in-out;
}

.container {
  bottom: 50%;
  height: 5rem;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  margin: 0 1rem;
  opacity: .75;
  text-shadow: 2px 2px 2px #0DAB76;
}

ul li {
  display: inline;
  font-family: Georgia, 'Times New Roman', Times, serif;
  opacity: .75;
}

li + li::before {
  content: " | ";
  font-size: 1.5rem;
}

a, button {
  background: 0;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  margin: 0;
  transition: .2s color ease-in-out;
  text-decoration: none;
}

a:hover, button:hover {
  color: #0DAB76;
  text-decoration: underline;
}